<div class="bg-light p-3" style="width:500px">
  <%= simple_form_for(@flat) do |f|%>
    <%= f.input :name, input_html: { class:"bg-white"} %>
    <%= f.input :address, input_html: { class:"bg-white"} %>
    <%= f.input :description, input_html: { class:"bg-white"} %>
    <%= f.input :price_per_night, input_html: { class:"bg-white"} %>
    <%= f.input :number_of_guests, input_html: { class:"bg-white"} %>
    <%= f.submit "Create flat", class: "btn btn-primary" %>
  <% end %>
</div>
